.form-control{
    border-radius: 10px;
    width: 450px;
    margin-left: 50px;

}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 59%;
    top: 33%;
    color: blue;
}

.btn{
    margin-right: 50px;
}