<ng-container *ngIf="products.length != 0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-response">
                    <thead>
                       <tr>
                        <th>No.</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; let i = index">
                            <td>{{ i+1 }}</td>
                            <td style="width: 20%;">{{ product.title }}</td>
                            <td><img [src]="product.image" style="width: 100px;"></td>
                            <td style="width: 30%;">{{ product.description }}</td>
                            <th>{{ product.price }}$</th>
                            <td>{{ product.quantity }}</td>
                            <td>
                                <button class="btn btn-danger"(click)="onRemove(product)">X</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button class="btn btn-danger" (click)="clearAll()">Clear all</button></td>
                            <td><button class="btn btn-primary" routerLink="/products">Shop</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Total Amount: ${{ total }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://media.istockphoto.com/vectors/shopping-cart-icon-isolated-on-white-background-vector-id1206806317?k=20&m=1206806317&s=612x612&w=0&h=waK8qOHV2Fgz2ntEWHWBQtXpNDAQ_wdhd4tkTUz6tfE=" alt="">
            <h4>Your cart is empty</h4>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>
